__pycache__/

# Worked papers (copyrighted); keep local, do not commit
licklider.pdf
licklider.svg
licklider_clean.txt
licklider_lines.txt
meadows.pdf
meadows.svg
meadows_clean.txt
meadows_lines.txt
figures/
